<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199338123432-vtal29vhp6fq9os0eq5n71dg3sefk0fu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199338123432-vtal29vhp6fq9os0eq5n71dg3sefk0fu</string>
	<key>API_KEY</key>
	<string>AIzaSyDkE3HgNkDeVBjS6qctn90D_nbFaRoNAhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>199338123432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ciarlaventures.btiui</string>
	<key>PROJECT_ID</key>
	<string>btiui-7097a</string>
	<key>STORAGE_BUCKET</key>
	<string>btiui-7097a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199338123432:ios:1e40578ae284d390f9229d</string>
</dict>
</plist>